.banner {
  border: 1px solid black;
  padding: 8px;
  margin-bottom: 16px;

  h2 {
    text-transform: uppercase;
    text-align: center;

    padding: 0;
    margin: 0;
  }

  p {
    text-align: center;

    margin: 0;
    padding: 0;
    line-height: 1em;
  }
}
