.navContainer {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }

  @media (max-width: 600px) {
    img {
      width: 60px;
      height: 60px;
    }
    & > * {
      &:nth-child(2) {
        order: 3;
        margin-top: 16px;
      }
      &:nth-child(3) {
        order: 2;
      }
    }
  }
}
