.container {
  display: flex;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.desc {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
